body{
    padding-top: 150px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


h1 {
    color: RGBA(0, 0, 0, 0.7);
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid RGBA(0, 0, 0, 0.5);
    text-align: center;
    box-shadow: 3px #888888;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
    background: RGBA(0, 0, 60, 0.04);
}

img {
    max-width:750px;
    max-height:600px;
    width: auto;
    height: auto;
    margin: 5px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.2);
}